<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .input {
      display: flex;
      flex-direction: row;
      align-content: space-evenly;
      padding: 24px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Student Management System</h1>

    <h2>Insert a Student !!</h2>

    <div class="input">
      <form action="">
        <label for="id">ID:</label>
        <input type="text" #id placeholder="enter your id...">
        <label for="name">Name:</label>
        <input type="text" #name placeholder="enter your name...">
        <label for="age">Age:</label>
        <input type="text" #age placeholder="enter your age....">
      
        <button (click)="addStudent(id, name,age)">AddStudent</button>
      </form>
    </div>



    <table border="10" class="table">
      <thead class="table-light">
      
      
      <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>AGE</td>
        <td>Delete</td>
        <td>Edit</td>
      </tr>
    </thead>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td><button (click)="deleteStudent(student.name)" class="btn btn-danger">delete</button></td>
        <td><button (click)="editButton(student)" class="btn btn-warning">edit</button></td>
      </tr>
    </table>

    <div class="edit" *ngIf="editT">
      <form action="">
        <label for="id">ID</label>
        <input type="text" [(ngModel)]="selectedStudent.id" name="id" disabled >
        <label for="name">NAME</label>
        <input type="text" [(ngModel)]="selectedStudent.name" name="name" >
        <label for="age">AGE</label>
        <input type="text" [(ngModel)]="selectedStudent.age" name="age" >
        <button (click)="updateStudent()" class="btn btn-success">Update</button>
      </form>
    </div>
  </div>
</body>
</html>
